body {
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
    overflow-x: hidden;
}
details {
    text-align: center;
    font-size: .85em;

}

.mapboxgl-marker {
    color: #ff001d;
    cursor: pointer !important;
}

.separator{
    height: 10px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}